* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: 'Inter', sans-serif;
    height: 100vh;
    margin: 0;
    background: white;
    color: var(--text);
    line-height: 1.6;
    

}

.entrar {
    width: 90%;
    max-width: 500px;
    margin: 30px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.entrar input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #a2a2a2;
    border-radius: 6px;
    font-size: 16px;
}
.entrar select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #a2a2a2;
    border-radius: 6px;
    font-size: 16px;
}

.entrar button {
    background: #0066b3;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.entrar button:hover {
    background: #005091;
}